.arsenal-regular {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arsenal-bold {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.arsenal-regular-italic {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.arsenal-bold-italic {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  background-color: rgb(4, 41, 61);
  color: honeydew;
  text-align: center;
  font-family: "Arsenal", sans-serif;
}

body {
  background-image: linear-gradient(rgba(4, 41, 61, 0.9),
      rgba(34, 13, 71, 0.9)), url("./images/music-6954018.jpg");
  background-position: right bottom;
  background-size: 100% 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  padding-top: 2%;
  margin: -0.5rem;
  overflow-x: hidden;
  caret-color: transparent;
}

#content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 3%;
  grid-column-start: 2;
}